# History files
.Rhistory

# Session Data files
*.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Rate and presim files (created with script 0)
rates/*
presim*

# Graphs 
Graphs/*

# Previous simulation (with marriage rates)
SWE_marr/*

# Simulation results
*.rda
sim_results*
socsim_clustercall.log

# Work in progress 
progress/*
Pass.R